@import "vars/vars";
@import "fonts/fonts";
@import "rent21/index";

/*  ----------------------------------------------------------------
/*  >>> TABLE OF CONTENTS:
/*  ----------------------------------------------------------------
/*  1. Body
/*  2. Selection
/*  3. Buttons
/*  --------------------------------------------------------------*/

/*  ----------------------------------------------------------------
/*  1. Body
/*  --------------------------------------------------------------*/

/*  --------------------------------------------------------------*/
/*  2. Selection
/*  --------------------------------------------------------------*/
*::selection {
  background: $link;
  color: $font-color;

}

/*  --------------------------------------------------------------*/
/*  3. Buttons
/*  --------------------------------------------------------------*/
button {
  cursor: pointer;
}

button:focus,
button:active {
  outline: none;
}
